.App {
    padding-top: 4rem;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #fafafa;
}

.badge {
    text-transform: uppercase;
    color: #fff;
}

.navbar {
    background: #ef5350;
}

.navbar a {
    color: #fff;
}

h4 {
    text-transform: capitalize;
}